/*nav.css*/
body {
    background-image: url("../images/background/homepage-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkslategrey;
    background-position: center;
}

header{
    position: initial;
}

#auto-display-container {
    position: relative;
    width: 760px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 0 90px 45px whitesmoke;
    border-radius: 15px;
    margin-top: 3%;
}

#wrap {
    position: absolute;
    height: 500px;
    width: 3800px;
}

#wrap > a > img {
    float: left;
    width: 760px;
    height: 500px;
}

#auto-display-container .buttons {
    position: absolute;
    right: 5px;
    bottom: 40px;
    width: 150px;
    height: 10px;
    z-index: 2;
}

#auto-display-container .buttons span {
    margin-left: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: antiquewhite;
    text-align: center;
    color: gray;
    cursor: pointer;
}

#auto-display-container .buttons span.on {
    background-color: goldenrod;
}

#auto-display-container .arrow {
    position: absolute;
    top: 35%;
    color: floralwhite;
    padding: 0px 14px;
    border-radius: 50%;
    font-size: 50px;
    z-index: 2;
    display: none;
    text-decoration: none;
}

#auto-display-container .arrow_left {
    left: 10px;
}

#auto-display-container .arrow_right {
    right: 10px;
}

#auto-display-container:hover .arrow {
    display: block;
}

#auto-display-container .arrow:hover {
    background-color: rgba(143, 143, 143, 0.2);
}

#show-zone {
    margin-left: 10%;
    margin-top: 20%;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 70px;
    grid-column-gap: 20px;
}

#show-zone > div {
    border-radius: 10%;
    background: rgba(244, 154, 146, 0.1);
    width: 210px;
    box-shadow: 0px 0px 15px 12px rgba(192, 192, 192, 0.56);
}

#show-zone > div > a > img {
    display: block;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    margin: 0 auto;
    width: 210px;
    height: 210px;
    object-fit: cover;
}

#show-zone > div > p {
    color: rgba(186, 93, 58, 0.44);
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 0;
}

#show-zone > div > h3 {
    color: rgba(134, 120, 87, 0.99);
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#accessibility-icons {
    position: fixed;
    top: 60%;
    left: 3%;
}

#accessibility-icons > button {
    background: transparent;
    border: transparent;
    outline: none;
}

#accessibility-icons > button > img {
    display: block;
    width: 50px;
    cursor: pointer;
}



h6 {
    margin: 0;
    font-family: serif;
    font-size: 1.5em;
    color: cadetblue;
    text-shadow: 0.1em 0.1em darkseagreen;
}

/*footer.css*/