body {
    background-image: url("../images/background/register-background.png");
}

form {
    margin-bottom: 18%;
}

#submit-button:disabled {
    cursor: default;
}

#note {
    font-size: 0.5em;
}